body {
  box-sizing: border-box;
  text-align: center;
  font-family: sans-serif;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

.header {
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
}
.img {
  background-color: crimson;
  padding: 20px;
}
.menu {
  background-color: #609810;
  margin-bottom: 10px;
  font-size: 14px;
  color: white;
}

.danhsach {
  list-style: none;
  display: flex;
  justify-content: flex-start;
}
.item {
  margin: 10px;
  cursor: pointer;
  opacity: 1;
  transition: all 0.5s;
}
.item:hover {
  filter: opacity(0.8);
}
.item.sau {
  margin-left: auto;
}

.banner {
  background-color: darkorange;
  padding: 50px;
  width: 40%;
  /* align-self: center; */
  margin: 0 auto;
}

.main {
  margin-bottom: 10px;
  /* width: 100vmax;
  height: 400px; */
  display: flex;
}
.aside {
  background-color: deeppink;
  /* height: 250px;
  width: 20%; */
  margin: 10px;
  padding: 100px;
  height: 50%;
}
.content {
  background-color: deepskyblue;
  /* height: 100%;
  width: 80%; */
  margin: 10px;
  padding: 200px;
  width: 100%;
}
.footer {
  background-color: cornflowerblue;
  padding: 10px;
}

.form {
  background-color: white;
  color: #333;
  width: 400px;
  padding: 30px;
  border: none;
  border-radius: 10px;
  box-shadow: 2px 5px 10px -3px rgba(0, 0, 0, 0.3);
  position: relative;
}
.close-button {
  font-size: 30px;
  background-color: transparent;
  border: none;
  position: absolute;
  right: 10px;
  top: 5px;
  cursor: pointer;
  outline: none;
}
.form-control {
  text-align: center;
}
.form-control input {
  width: 100%;
  padding: 10px 20px;
  margin-bottom: 10px;
  border: 1px solid #eee;
  border-radius: 10px;
}

.form-control input[type="submit"] {
  cursor: pointer;
}

.form-control a {
  text-decoration: none;
}

.login-modal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10;
  /* display: flex; */
  justify-content: center;
  align-items: center;

  display: none;
}
