body {
  box-sizing: border-box;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #eee;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

.form {
  background-color: white;
  color:#333;
  width: 400px;
  padding: 30px;
  border: none;
  border-radius: 10px;
  box-shadow: 2px 5px 10px -3px rgba(0, 0, 0, 0.3);

}
.form-control {
  text-align: center;
}
.form-control input {
  width: 100%;
  padding: 10px 20px;
  margin-bottom: 10px;
  border: 1px solid #eee;
  border-radius: 10px;
}

.form-control input[type="submit"] {
  cursor: pointer;
}

.form-control a {
  text-decoration: none;
}
